:root {
    --c1: #3b5060;
    --c2: #CCE3B2;
    --c3: #BBBFEE;
    --c4: #EEC1D3;
    --c5: #F3BA92;
    --c6: #F1DD9E;
    --c7: #9CCEE9;

    --text: #3b5060;
    --bg: #DBE1E6;
    --arrow: #828f99;
}

@font-face {
    font-family: 'MoreSugar-Regular';
    src: url('../fonts/MoreSugar-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MoreSugar-Thin';
    src: url('../fonts/MoreSugar-Thin.otf') format('opentype');
}

body {
    background-color: var(--bg);
}

* {
    list-style: none;
    color: var(--c1);
    font-family: MoreSugar-Thin;
    text-decoration: none;
}

a:hover{
    text-decoration: underline
}

.menu {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    font-size: 20px;
}

li {
    margin-bottom: 20px;
}